@font-face{
  font-family:"MagicSchoolOne";
  src: url("/assets/font/MagicSchoolOne.ttf") format("truetype");
}


body {
  font-family: 'MagicSchoolOne', Fallback, sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #FFFF00;
  
}
